{% extends "layout.html" %}
{% block content %}
    <main role="main" class="container">
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Entry</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.author.label(class="form-control-label") }}
                    {% if form.author.errors %}
                        {{ form.author(class="form-control form-control-lg is-invalid") }}
                    {% else %}
                        {{ form.author(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.publisher.label(class="form-control-label") }}
                    {% if form.publisher.errors %}
                        {{ form.publisher(class="form-control form-control-lg is-invalid") }}
                    {% else %}
                        {{ form.publisher(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.isbn.label(class="form-control-label") }}
                    {% if form.isbn.errors %}
                        {{ form.isbn(class="form-control form-control-lg is-invalid") }}
                    {% else %}
                        {{ form.isbn(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.year.label(class="form-control-label") }}
                    {% if form.year.errors %}
                        {{ form.year(class="form-control form-control-lg is-invalid") }}
                    {% else %}
                        {{ form.year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br/>
                <div class="form-group">
                    {{ form.create(class="btn btn-outline-info") }}
                </div>
                <br/>
            </fieldset>
        </form>
    </div>
    </main>
    <div class="border-top pt-3">
        <small class="text-muted">
            <p><a class="ml-2" href="/home">Back to Main</a></p>
        </small>
    </div>
{% endblock content %}
