{% extends "layout.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">ISBN</th>
            <th scope="col">Year</th>
        </tr>
        </thead>
        <!-- Make sure there's a table to show -->
        {% if not books %}
        <tr>
            <td colspan="6">No Entries Found</td>
        </tr>
        {% else %}
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.year }}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock content %}
